*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fredoka', sans-serif;
}

.container{
    width: 70%;
    margin: auto;
}

/* header */

header{
    text-align: center;
}

h1{
    margin: 5vh 0;
}